{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
    </ol>
{% endblock %}


{% block content %}

{% if user.is_superuser %}
    <h2>Admin Dashboard</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-primary">
                <div class="card-body">
                    <h3>{{ total_students }}</h3>
                    <p>Total Students</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-success">
                <div class="card-body">
                    <h3>{{ total_teachers }}</h3>
                    <p>Total Teachers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-info">
                <div class="card-body">
                    <h3>{{ total_courses }}</h3>
                    <p>Total Courses</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-warning">
                <div class="card-body">
                    <h3>{{ total_enrollments }}</h3>
                    <p>Total Enrollments</p>
                </div>
            </div>
        </div>
    </div>

{% elif perms.core.add_course %}
    <h2>Teacher Dashboard</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-success">
                <div class="card-body">
                    <h3>{{ total_students }}</h3>
                    <p>Total Students</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-body">
                    <h3>{{ total_courses }}</h3>
                    <p>Total Courses</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-warning">
                <div class="card-body">
                    <h3>{{ total_enrollments }}</h3>
                    <p>Total Enrollments</p>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <h2>Student Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-body">
                    <h3>{{ total_courses }}</h3>
                    <p>Available Courses</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-body">
                    <h3>{{ total_enrollments }}</h3>
                    <p>Total Enrollments</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
